.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.section1 {
color: rgb(37, 115, 134);
}

.flex-col {
    flex-direction: column;
}

.topleft {
    width: 50%;
    height: 45vh;
}

.topright {
    width: 50%;
    height: 50vh;
}

.my-1{
    margin-top: 15px;
    margin-bottom: 15px;
}

.px-2{
    padding-left: 10px;
    padding-right: 10px;
}

.background {
    background-image: url('./Landing-page-background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    z-index: -1;
    margin-left: calc(-50vw + 50%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
 
  .content {
    position: relative;
    z-index: 1; /* Place it above the background */
    padding: 20px;
    text-align: center;
}
img {
    width: 350px;
    height: auto; /* Maintains aspect ratio */
  }